.prose :is(h2, h3, h4, h5, h6) {
	margin: 2.3rem 0;
	font-size: 3rem;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: 0.7rem;
}

.prose p {
	text-align: left;
	line-height: 1.5;
	letter-spacing: 0.025em;
	font-size: 1.05rem;
}

.prose :is(ul, ol) li {
	margin-block: 0.2rem;
	padding-inline-start: 0.2rem;
}

.prose pre {
	max-inline-size: 100%;
	padding: 1rem;
	border-radius: 8px;
	tab-size: 2;
}
